<h1> <%= @shipping_company.brand_name %> </h1>

<b> Razão Social: </b> <%= @shipping_company.corporate_name %>
<br>
<b> Email Coorporativo: </b> <%= @shipping_company.email_domain %>
<br>
<b> CNPJ </b> <%= @shipping_company.registration_number %>
<br>
<b> Endereço </b> <%= @shipping_company.address %>
<b> Cidade </b> <%= @shipping_company.city %>
<b> Estado </b>   <%= @shipping_company.state %>
<br>
<br>
<h1> Veículos da Empresa </h1>
<% if @vehicles.any? %>
  <% @vehicles.each do |vehicle| %>
    <b>Placa:</b><a> <a><%= vehicle.plate %>
    <b>Marca:</b><a>  <a><%= vehicle.brand %>
    <b>Modelo:</b><a>  <a><%= vehicle.vehicle_model %>
    <b>Ano de Fabricação:</b><a>  <a><%= vehicle.fabrication_year %><br>
  <% end %>
<% else %>
  Não existem veículos cadastrados.
<% end %>
<br>
<br>
<%= link_to 'Cadastrar novo veículo', new_shipping_company_vehicle_path(@shipping_company.id) %>
<br>
<br>
<%= link_to 'Voltar', shipping_companies_path %>
