<!DOCTYPE html>
<html>
  <head>
    <title>TransportSystem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>
  <body>
    <header>
      <h1> Sistema de Transporte </h1>
      <nav>
      <% if user_signed_in? %>
      <p> 
        <%= I18n.translate("hello") %> 
        <b><%= current_user.email %></b> |    
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %> | Data de Hoje: 
        <%= I18n.localize(Date.today) %> | 
      </p>  
      <% else %>
      <p> 
        <%= I18n.translate("hello") %> | 
        <%= link_to 'Entrar', new_user_session_path %> | Data de Hoje:
        <%= I18n.localize(Date.today) %> </p>
      <% end %>
      </nav>
    </header>
    <main>
      <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      </div>        
    <%= yield %>
  </body>
</html>
